<% inventories.each do |inventory| %>
  <div class="row border p-4 my-4">
    <div class="col-sm-6">
        <%= link_to inventory_path(inventory.id) do %>
         <h6 class="mb-4"><%= inventory.name %></h6>
        <% end %>
      <%= button_to "Remove", inventory, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
    <div class="col-sm-6">
      <%= inventory.description %>
    </div>
  </div>
<% end %>