<table class="table table-striped">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   <%= render 'recipe_food_card', food_with_recipes: @food_with_recipes %>
  </tbody>
</table>